@charset "UTF-8";
.container {
  width: 100%;
}

.content_wrapper {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 18px;
  color: #47341c;
}

h3 {
  font-size: 14px;
  color: #47341c;
}

h4 {
  font-size: 22px;
  color: #47341c;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  color: #47341c;
}

img {
  border: 0;
}

p {
  font-size: 14px;
  color: #47341c;
}

.header {
  width: 1200px;
  height: 80px;
  line-height: 80px;
  font-size: 14px;
  color: #e7dfcd;
}

.header li {
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  transition: color 1s;
  -moz-transition: color 1s;
  /* Firefox 4 */
  -webkit-transition: color 1s;
  /* Safari 和 Chrome */
  -o-transition: color 1s;
  /* Opera */
}

.header li:last-child {
  padding-right: 0;
}

.header li:active,
.header li:hover {
  color: #e71a1f;
}

.header .now {
  color: #e71a1f;
}

.top-logo {
  position: relative;
  top: 20px;
}

.banner_wrapper {
  width: 100%;
  position: relative;
}

.banner_wrapper .banner-word {
  position: absolute;
  width: 1000px;
  margin: auto;
  left: 0;
  right: 0;
  top: 30%;
  font-size: 50px;
  color: #fff;
  letter-spacing: 10px;
  font-weight: bold;
}

.banner_wrapper .banner-word label {
  color: #db0b06;
}

.banner_wrapper img {
  width: 100%;
}

.templet_title label {
  display: block;
  width: 45px;
  text-align: center;
  padding: 18px 13px;
  min-height: 115px;
  background: #e71a1f;
  border-radius: 10px;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.templet_title p {
  width: 60%;
  height: 328px;
  font-size: 16px;
  overflow: hidden;
  color: #47341c;
  *display: inline;
  *writing-mode: tb-rl;
}

.templet_title div {
  padding: 0 15px;
}

.templet_lis {
  text-align: center;
  padding: 90px 0;
}

.templet_lis .templet_title {
  width: 20%;
}

.templet_lis ul {
  width: 100%;
}

.templet_lis ul li {
  width: 20%;
  float: left;
  transition: all 1s;
  -moz-transition: all 1s;
  /* Firefox 4 */
  -webkit-transition: all 1s;
  /* Safari 和 Chrome */
  -o-transition: all 1s;
  /* Opera */
}

.templet_lis ul li h1 {
  margin: 40px 0 20px;
}

.templet_lis ul li p {
  height: 38px;
  -webkit-line-clamp: 2;
}

.templet_lis ul li .lis-box {
  width: 75%;
  margin: 0 auto;
  padding: 37px 10px;
  height: 320px;
  background: #c5ad98;
  border-radius: 10px;
}

.templet_lis ul li .lis-box .service_img {
  width: 60%;
  margin: 0 auto;
}

.templet_lis ul li .lis-box .service_img .img-active {
  display: none;
}

.templet_lis ul li .lis-box .service_img img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.templet_lis ul li:hover .lis-box .service_img .img-active {
  display: block;
}

.templet_lis ul li:hover .lis-box .service_img .img-default {
  display: none;
}

.case_wrapper {
  width: 100%;
  background: url("../images/case_bg.png") no-repeat center;
  background-size: 100% 100%;
  padding: 40px 0;
}

.case_wrapper .templet_title {
  width: 20%;
}

.case_wrapper .case-left {
  width: 80%;
  position: relative;
}

.case_wrapper .case-left .arrow-box {
  width: 135px;
  position: absolute;
  left: 540px;
  bottom: -5px;
}

.case_wrapper .case-left .arrow-box img {
  width: 100%;
}

.case_wrapper .case-left ul {
  width: 675px;
}

.case_wrapper .case-left li {
  height: 130px;
  float: left;
}

.case_wrapper .case-left li img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.case_wrapper .case-left .case-01 {
  width: 135px;
}

.case_wrapper .case-left .case-02 {
  width: 270px;
}

.case_wrapper .case-left .case-03 {
  width: 330px;
}

.about-lis {
  padding: 40px 0;
}

.about-lis .templet_title {
  width: 15%;
}

.about_right {
  width: 85%;
}

.about_right .net_img {
  width: 270px;
  height: 260px;
  background: #dcc2ba;
  overflow: hidden;
  position: absolute;
  top: 35px;
  left: -24%;
}

.about_right .net_img img {
  width: 100%;
}

.about_right .net_info {
  width: 75%;
  height: 330px;
  border: 2px solid #dcc2ba;
  position: relative;
}

.about_right .net_info h1 {
  color: #8a655a;
  border-bottom: 2px solid #dcc2ba;
  padding: 30px 30px 10px 0;
}

.about_right .net_info p {
  padding: 35px 30px 50px 115px;
  height: 210px;
  -webkit-line-clamp: 6;
  line-height: 30px;
  text-indent: 2em;
}

.about_2nd .about_2nd_left {
  width: 12%;
  margin-right: 2%;
}

.about_2nd .about_2nd_left img {
  display: block;
  width: 90%;
  margin-left: 10%;
}

.about_2nd .about_2nd_right {
  width: 86%;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  padding-right: 20px;
}

.about_2nd .about_2nd_right li {
  font-size: 16px;
  color: #47341c;
}

.about_3rd {
  width: 100%;
}

.about_3rd li {
  width: 33.333%;
  float: left;
  padding: 60px;
  background: #d6c9ac;
}

.about_3rd li h3 {
  margin-bottom: 30px;
}

.about_3rd li p {
  margin-bottom: 60px;
  height: 63px;
  -webkit-line-clamp: 3;
}

.about_3rd li a {
  display: block;
  width: 150px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #a0a0a0;
  border: 1px solid #a0a0a0;
}

.about_3rd li.active,
.about_3rd li:hover {
  background: #e1d4b5;
}

.news_wrapper {
  padding: 40px 0;
}

.news_wrapper dt {
  width: 100%;
  height: 45px;
  margin-bottom: 40px;
}

.news_wrapper dt span {
  display: block;
  width: 170px;
  height: 45px;
  margin: 0 auto;
  line-height: 45px;
  text-align: center;
  border-radius: 10px;
  background: #e71a1f;
  font-size: 18px;
  color: #fff;
}

.news_wrapper dd {
  width: 50%;
  float: left;
  padding: 25px 0;
}

.news_wrapper dd .news-time {
  width: 25%;
  font-size: 43px;
  color: #e71a1f;
  text-align: right;
  padding-right: 20px;
}

.news_wrapper dd .news-time small {
  display: block;
  font-size: 20px;
  color: #6e6045;
}

.news_wrapper dd .news-right {
  width: 68%;
}

.news_wrapper dd .news-right p {
  margin: 15px 0 8px;
}

.news_wrapper dd .news-right h3 {
  line-height: 25px;
  height: 50px;
  -webkit-line-clamp: 2;
}

.contact_wrapper {
  width: 100%;
}

.contact_wrapper li {
  width: 33.333%;
  float: left;
}

.contact_wrapper li .contact-left {
  width: 10%;
  display: inline-block;
  position: relative;
  top: -35px;
}

.contact_wrapper li .contact-left img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.contact_wrapper li .contact-right {
  min-height: 90px;
  padding-left: 20px;
  display: inline-block;
  border-left: 2px solid #b6a171;
}

.contact_wrapper li .contact-right p {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #74695a;
}

.contact_wrapper li:last-child .contact-left {
  top: -17px;
}

.footer {
  width: 100%;
  padding: 40px 0;
  background: url("../images/foot_bg.png") no-repeat center;
  background-size: 100% 100%;
}

.foot_wrapper img {
  display: block;
  margin: 0 auto;
}

.foot_wrapper h2 {
  color: #bab9b9;
  font-size: 16px;
  margin-top: 10px;
}

.foot_wrapper ul li {
  display: inline-block;
  font-size: 14px;
  color: #bab9b9;
  padding: 15px;
  transition: color 1s;
  -moz-transition: color 1s;
  /* Firefox 4 */
  -webkit-transition: color 1s;
  /* Safari 和 Chrome */
  -o-transition: color 1s;
  /* Opera */
}

.foot_wrapper ul li.now,
.foot_wrapper ul li:active,
.foot_wrapper ul li:hover {
  color: #e71a1f;
}

.foot_wrapper p {
  color: #bab9b9;
}

.nav-title {
  width: 100%;
  height: 50px;
  line-height: 60px;
  border-bottom: 2px solid #d0c7b6;
}

.content-title {
  padding-top: 20px;
}

.content-title h1 {
  font-size: 28px;
  color: #402e13;
  position: relative;
}

.content-title h1 span {
  display: block;
  width: 75px;
  height: 2px;
  background: #47341c;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-box p {
  padding: 20px;
}

.content-title p {
  font-size: 20px;
  padding: 0;
}

.content-box h4 {
  font-size: 18px;
  color: #402e13;
}

.content-box img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.contact-wrapper {
  width: 100%;
  padding: 70px 0;
}

.contact-wrapper .contact-left {
  width: 60%;
  float: left;
}

.contact-wrapper .contact-right {
  width: 40%;
  float: left;
}

.contact-wrapper .contact-right div {
  padding: 10px;
  border: 1px solid #a5a5a5;
  margin-bottom: 20px;
  color: #5f5649;
}

.contact-wrapper .contact-right div textarea {
  height: 100px;
  resize: none;
}

.contact-wrapper .contact-right button {
  width: 100%;
  height: 38px;
  background: #cacaca;
  font-size: 16px;
  color: #5f5649;
}

.tab {
  width: 100%;
}

.tab li {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 10px;
  border-radius: 10px;
  background: #38270f;
  font-size: 18px;
  color: #fff;
  margin: 17px;
}

.news-wrapper {
  width: 100%;
  padding-top: 60px;
  display: none;
}

.news-wrapper dd {
  margin-bottom: 70px;
}

.news-wrapper dd:hover .news-left span, .news-wrapper dd:active .news-left span {
  background: url("../images/news_icon_active.png") no-repeat center;
  background-size: 100% 100%;
}

.news-wrapper .news-left {
  width: 15%;
  font-size: 28px;
  color: #402e13;
  line-height: 0.8;
}

.news-wrapper .news-left span {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  background: url("../images/news_icon.png") no-repeat center;
  background-size: 100% 100%;
  transition: color 1s;
  -moz-transition: color 1s;
  /* Firefox 4 */
  -webkit-transition: color 1s;
  /* Safari 和 Chrome */
  -o-transition: color 1s;
  /* Opera */
}

.news-wrapper .news-left small {
  display: inline-block;
  width: 70px;
  height: 2px;
  background: #c3c3c3;
  position: relative;
  top: -10px;
}

.news-wrapper .news-middle {
  width: 60%;
}

.news-wrapper .news-middle p {
  padding: 0;
  margin-bottom: 18px;
}

.news-wrapper .news-right {
  width: 20%;
  overflow: hidden;
  height: 125px;
}

.news-wrapper .news-right img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.news-wrapper:first-child {
  display: block;
}

.tab-choose {
  width: 100%;
  text-align: center;
}

.tab-choose a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #646565;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: 0 10px;
}

.tab-choose .jp-previous {
  display: none;
}

.tab-choose .jp-next {
  display: none;
}

.templet_lis.service-wrapper ul {
  width: 100%;
}

.templet_lis.service-wrapper ul li {
  width: 25%;
}

.serviceWrapper {
  padding: 40px 0;
}

.serviceWrapper .service-left {
  width: 55%;
}

.serviceWrapper .service-right {
  width: 45%;
}

.service-lis-wrapper1 {
  background: #e1d6c4;
}

.service-lis-wrapper {
  padding: 50px 0;
  color: #46331b;
}

.service-lis-wrapper h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.service-lis-wrapper p {
  font-size: 14px;
}

.service-lis-wrapper ul li {
  width: 50%;
  float: left;
  font-size: 14px;
  margin-top: 25px;
}

.service-lis-wrapper ul li span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  background: #c3ab97;
}

.service-lis-wrapper .service-img {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.service-lis-wrapper .service-img img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.support-wrapper {
  width: 100%;
}

.support-wrapper h1 {
  border-bottom: 2px solid #d0c6b6;
  padding: 10px 0;
}

.support-wrapper .support-img {
  padding: 60px;
}

.support-wrapper .support-img img {
  width: 100%;
}

.support-wrapper .support {
  padding: 60px 0;
}

.support-wrapper .support li {
  float: left;
  width: 33.33333%;
}

.support-wrapper .support li .support-li {
  width: 80%;
  margin: 0 auto;
  background: #d2b463;
  padding: 40px 20px;
}

.support-wrapper .support li .support-li h1 {
  border-bottom: 0;
  font-weight: bold;
}

.support-wrapper .support li .support-li .lis-img {
  width: 25%;
  margin: 30px auto;
}

.support-wrapper .support li .support-li .lis-img img {
  width: 100%;
}

.support-wrapper .support li .support-li p {
  height: 90px;
  -webkit-line-clamp: 3;
  line-height: 25px;
}

.support-wrapper .support dd {
  padding: 40px 20px;
}

.support-wrapper .support dd .download-left {
  width: 25%;
  height: 200px;
  overflow: hidden;
}

.support-wrapper .support dd .download-left img {
  width: 100%;
}

.support-wrapper .support dd .download-right {
  width: 75%;
  padding-left: 40px;
}

.support-wrapper .support dd .download-right p {
  padding: 0;
  font-weight: bold;
}

.support-wrapper .support dd .download-right h3 {
  width: 60%;
  height: 75px;
  line-height: 25px;
  -webkit-line-clamp: 3;
  margin-bottom: 40px;
}

.support-wrapper .support dd .download-right a {
  display: block;
  width: 190px;
  height: 60px;
  background: #d2b463;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 60px;
}
